<template>
	<div>
		<div class="project-details">
			<h1>{{ page.title }}</h1>
			<table v-if="page.stats">
				<tbody>
					<tr v-if="page.stats.type">
						<th>Project Type</th>
						<td>{{ page.stats.type }}</td>
					</tr>
					<tr v-if="page.stats.status">
						<th>Project Status</th>
						<td>{{ page.stats.status }}</td>
					</tr>
					<tr v-if="page.stats.duration">
						<th>Duration</th>
						<td>{{ page.stats.duration }}</td>
					</tr>
					<tr v-if="page.stats.software">
						<th>Software</th>
						<td>{{ page.stats.software.join(", ") }}</td>
					</tr>
					<tr v-if="page.stats.languages">
						<th>Languages</th>
						<td>{{ page.stats.languages.join(", ") }}</td>
					</tr>
					<tr v-if="page.stats.links">
						<th>Links</th>
						<td class="links-list">
							<a
								v-for="link in page.stats.links"
								:key="link.label"
								:href="link.href"
							>
								{{ link.label }}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<nuxt-content :document="page" class="project-copy" />
	</div>
</template>
{
<script>
	export default {
		async asyncData({ $content, params, error }) {
			const slug = params.slug || "index";
			const page = await $content("projects/" + slug)
				.fetch()
				.then((page) => {
					if (page.hidden) {
						throw new Error("Page Not Found");
					}
					return page;
				})
				.catch(() => {
					error({ statusCode: 404, message: "Page Not Found" });
				});

			return {
				page
			};
		}
	};
</script>
<style>
	.project-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 0.25rem solid rgba(0, 0, 0, 0.25);
		margin-bottom: 0.5rem;
	}

	.project-details table {
		text-align: left;
	}
	.project-details th {
		padding-right: 0.5rem;
	}

	.project-copy {
		line-height: 1.5;
	}
	.project-details a,
	.project-copy a {
		text-decoration: underline;
	}
	.project-details .links-list a {
		margin-right: 0.5rem;
	}
	.project-copy h1,
	.project-copy h2,
	.project-copy h3 {
		display: inline;
	}
	.project-copy h1 {
		margin-top: 1rem;
	}
	.project-copy h2 {
		margin-top: 0.25rem;
	}
	.project-copy ol {
		margin-bottom: 1rem;
		padding: 0 2rem;
	}
	.project-copy p {
		margin: 1rem 0;
	}
	.project-copy img {
		display: inline-block;
		margin: 0 auto;
		max-width: 100%;
	}
</style>
