<template>
	<div>
		<p class="notice">
			Please see my
			<NuxtLink to="/resume">résumé</NuxtLink>
			for more details on projects.
		</p>
		<div class="projects">
			<ProjectCard
				v-for="project in projects"
				:key="project.id"
				:title="project.title"
				:description="project.description"
				:image-path="project.thumbnailPath"
				:project-link-path="project.pageLink"
			/>
		</div>
	</div>
</template>

<script>
	import ProjectCard from "~/components/ProjectCard.vue";
	const shownTypes = ["WebDev"];

	export default {
		components: {
			ProjectCard
		},
		async asyncData({ $content }) {
			let projects = await $content("projects").sortBy("order").fetch();
			projects.reverse();
			projects = projects.filter(proj => !proj.hidden);
			projects = projects.filter(proj => shownTypes.includes(proj.type));
			projects = projects.map(proj => ({
				id: proj.slug,
				title: proj.title || "Title Not Set",
				description: proj.description || "Description Not Set",
				pageLink: "projects/" + proj.slug,
				thumbnailPath: proj.thumbnailPath || ""
			}));
			return {
				projects
			};
		},
		head: {
			titleTemplate: "Projects | %s"
		}
	};
</script>

<style>
	.projects {
		display: grid;
		grid-template-columns: repeat(12, minmax(auto, 3rem));
		grid-gap: 2rem;
	}
	.notice {
		margin-bottom: 1rem;
	}
	.notice a {
		text-decoration: underline;
	}

	@media (max-width: 624px) {
		.projects {
			grid-template-columns: repeat(6, minmax(auto, 3rem));
		}
	}
</style>
