<template>
	<a href="https://gitlab.com/shahanstudios">
		<SocialMediaIcon>
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M23.955 13.587l-1.342-4.135-2.664-8.189c-.135-.423-.73-.423-.867 0L16.418 9.45H7.582L4.919 1.263C4.783.84 4.185.84 4.05 1.26L1.386 9.449.044 13.587c-.121.375.014.789.331 1.023L12 23.054l11.625-8.443c.318-.235.453-.647.33-1.024"
				/>
			</svg>
		</SocialMediaIcon>
	</a>
</template>

<script lang="ts">
	import SocialMediaIcon from "./SocialMediaIcon.vue";

	export default {
		name: "GitlabIcon",
		components: {
			SocialMediaIcon
		}
	};
</script>
