<template>
	<a href="https://www.linkedin.com/in/austin-shahan/">
		<SocialMediaIcon>
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
				<path
					d="M5 3c0 1.062-0.71 1.976-2.001 1.976-1.215 0-1.999-0.862-1.999-1.924 0-1.090 0.76-2.052 2-2.052s1.976 0.91 2 2zM1 19v-13h4v13h-4z"
				></path>
				<path
					d="M7 10.444c0-1.545-0.051-2.836-0.102-3.951h3.594l0.178 1.723h0.076c0.506-0.811 1.746-2 3.822-2 2.532 0 4.432 1.695 4.432 5.342v7.442h-4v-6.861c0-1.594-0.607-2.81-2-2.81-1.062 0-1.594 0.86-1.873 1.569-0.102 0.254-0.127 0.608-0.127 0.963v7.139h-4v-8.556z"
				></path>
			</svg>
		</SocialMediaIcon>
	</a>
</template>

<script lang="ts">
	import SocialMediaIcon from "./SocialMediaIcon.vue";

	export default {
		name: "LinkedInIcon",
		components: {
			SocialMediaIcon
		}
	};
</script>
