<template>
	<header class="pageHeader">
		<div class="container">
			<NuxtLink class="ignoreColorChange" to="/">
				<h1 class="title">Austin Shahan</h1>
			</NuxtLink>
			<div class="menus">
				<ul class="pages">
					<li><NuxtLink to="/projects">Projects</NuxtLink></li>
					<li><NuxtLink to="/resume">Résumé</NuxtLink></li>
					<li><NuxtLink to="/contact">Contact</NuxtLink></li>
				</ul>
				<div class="divider" />
				<ul class="socials">
					<li><GitlabIcon /></li>
					<li><LinkedInIcon /></li>
					<li><TwitterIcon /></li>
				</ul>
			</div>
		</div>
	</header>
</template>

<script lang="ts">
	import LinkedInIcon from "./LinkedInIcon.vue";
	import TwitterIcon from "./TwitterIcon.vue";
	import GitlabIcon from "./GitlabIcon.vue";

	export default {
		name: "PageHeader",
		components: {
			LinkedInIcon,
			TwitterIcon,
			GitlabIcon
		}
	};
</script>

<style>
	.pageHeader {
		position: relative;
		border-bottom: 1rem solid var(--primaryColor);
		padding: 1rem;
	}
	.pageHeader::before,
	.pageHeader::after {
		content: "";
		position: absolute;
		top: 100%;
		height: 1rem;
		width: calc((100vw - var(--contentWidth)) / 2);
		background-color: var(--primaryColor);
		z-index: -1;
	}
	.pageHeader::before {
		right: 100%;
	}
	.pageHeader::after {
		left: 100%;
	}

	.pageHeader .container {
		max-width: var(--contentWidth);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.pageHeader h1 {
		margin: 0;
		margin-bottom: -0.5rem;
		white-space: nowrap;
	}
	.pageHeader .menus {
		display: flex;
		flex-wrap: wrap;
	}
	.pageHeader .menus .divider {
		height: 100%;
		width: 0.25rem;
		background-color: var(--accentColor);
	}
	.pageHeader ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pageHeader ul li {
		margin: 0 0.5rem;
	}
	.pageHeader .pages li {
		margin-top: 0.5rem;
	}

	@media (max-width: 624px) {
		.pageHeader .container,
		.pageHeader .menus {
			justify-content: center;
		}
	}
	@media (max-width: 374px) {
		.pageHeader .menus .divider {
			display: none;
		}
	}
</style>
