<template>
	<div class="card">
		<div class="card-image-container">
			<NuxtLink :to="projectLinkPath">
				<img :src="thumbnailPath" />
			</NuxtLink>
		</div>
		<div class="card-content">
			<NuxtLink :to="projectLinkPath" class="ignoreColorChange">
				<h2 class="card-title">{{ title }}</h2>
			</NuxtLink>
			<span class="card-description">{{ description }}</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: "ProjectCard",
		props: {
			title: {
				type: String,
				required: true
			},
			description: {
				type: String,
				required: true
			},
			imagePath: {
				type: String,
				required: true
			},
			projectLinkPath: {
				type: String,
				required: true
			}
		},
		data: function () {
			return {
				thumbnail: this.imagePath
			};
		},
		computed: {
			thumbnailPath() {
				return require(`~/assets/images/${this.thumbnail}`);
			}
		}
	};
</script>

<style>
	.card {
		grid-column-end: span 6;
		display: flex;
		flex-direction: column;

		background-color: rgba(0, 0, 0, 0.25);
		border: 0.1rem solid rgba(0, 0, 0, 0.25);
		border-radius: 0.5rem;
		overflow: hidden;
	}

	.card-image-container {
		width: 100%;
		padding-bottom: calc(9 / 16 * 100%);
		overflow: hidden;
		position: relative;

		cursor: pointer;
	}
	.card-image-container img {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.card-content {
		margin-top: 0.5rem;
		padding: 0.25rem;
	}
	.card-title {
		text-align: center;
	}
	.card-description {
		text-align: justify;
	}

	.card-image-container a {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
</style>
