<template>
	<div class="icon">
		<slot></slot>
	</div>
</template>

<script lang="ts">
	export default {
		name: "SocialMediaIcon"
	};
</script>

<style>
	.icon {
		width: 1rem;
		height: 1rem;
	}
	.icon svg:not(.stroke) {
		fill: #f1e6a9;
	}
	.icon svg.stroke {
		fill: none;
		stroke: #f1e6a9;
	}
</style>
