* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--backgroundColor: #23446c;
	--textColor: #f1e6a9;
	--primaryColor: #5cb2b9;
	--accentColor: #b2ecc5;
	--contentWidth: 1024px;
}
html {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-size: 20px;
}

html, body {
	overflow-x: hidden;
}

a {
	color: var(--textColor);
	text-decoration: none;
}
a:not(.ignoreColorChange):hover,
a:not(.ignoreColorChange):focus {
	color: var(--accentColor);
}
a:hover svg:not(.stroke),
a:focus svg:not(.stroke) {
	fill: var(--accentColor);
}

a:hover svg.stroke,
a:focus svg.stroke {
	stroke: var(--accentColor);
}
