<template>
	<div>
		<PageHeader />
		<main>
			<Nuxt />
		</main>
	</div>
</template>

<script lang="ts">
	import PageHeader from "../components/PageHeader.vue";

	export default {
		components: {
			PageHeader
		}
	};
</script>

<style>
	main {
		max-width: var(--contentWidth);
		margin: 0 auto;
		padding: 1rem;
	}
</style>
