<template>
	<div>
		<nuxt-content :document="page" />
	</div>
</template>

<script>
	export default {
		async asyncData({ $content, params, error }) {
			const slug = params.slug || "index";
			const page = await $content(slug)
				.fetch()
				.catch(() => {
					error({ statusCode: 404, message: "Page Not Found" });
				});

			return {
				page
			};
		}
	};
</script>
