<template>
	<div>
		<h2>Email</h2>
		You can contact me at
		<a href="mailto:contact@austinshahan.com">contact@austinshahan.com</a>
		<h2>Social Media</h2>
		I am also available on the following social media sites:
		<div class="socialMedia">
			<LinkedInIcon />
			<TwitterIcon />
		</div>
	</div>
</template>

<script lang="ts">
	import LinkedInIcon from "../components/LinkedInIcon.vue";
	import TwitterIcon from "../components/TwitterIcon.vue";
	export default {
		components: {
			LinkedInIcon,
			TwitterIcon
		},
		head: {
			titleTemplate: "Contact | %s"
		}
	};
</script>

<style scoped>
	.socialMedia {
		display: flex;
		margin-top: 0.25rem;
	}
	.socialMedia > * {
		margin: 0 0.25rem;
	}
	.socialMedia > *:first-child {
		margin-left: 0;
	}
</style>
