<template>
	<div class="landingPage">
		<div class="container">
			<h1>Austin Shahan</h1>
			<ul>
				<li><NuxtLink to="/projects">Projects</NuxtLink></li>
				<li><NuxtLink to="/resume">Résumé</NuxtLink></li>
				<li><NuxtLink to="/contact">Contact</NuxtLink></li>
			</ul>
			<ul>
				<li><GitlabIcon /></li>
				<li><LinkedInIcon /></li>
				<li><TwitterIcon /></li>
			</ul>
		</div>
	</div>
</template>

<script lang="ts">
	import LinkedInIcon from "../components/LinkedInIcon.vue";
	import TwitterIcon from "../components/TwitterIcon.vue";

	export default {
		components: {
			LinkedInIcon,
			TwitterIcon
		},
		layout: "empty",
		head: {
			titleTemplate: "%s | Programmer Portfolio"
		}
	};
</script>
<style>
	.landingPage {
		position: relative;
		width: 100vw;
		height: 100vh;
	}
	.landingPage .container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1rem solid #5cb2b9;
		padding: 1rem;
		text-align: center;
		box-sizing: border-box;
		max-width: 100vw;
	}
	.landingPage ul {
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}
	.landingPage ul li {
		margin: 0 1rem;
	}

	@media (max-width: 350px) {
		.landingPage .container {
			width: 100vw;
		}
		.landingPage ul {
			flex-wrap: wrap;
		}
	}
</style>
