<template>
	<div>
		<a href="/Resume.pdf" target="_blank">Download Résumé</a>
		<div class="iframe-container">
			<iframe src="/Resume.pdf"></iframe>
		</div>
	</div>
</template>

<script lang="ts">
	export default {
		head: {
			titleTemplate: "Résumé | %s"
		}
	};
</script>

<style scoped>
	.iframe-container {
		position: relative;
		overflow: hidden;

		margin-top: 0.5rem;
		padding-top: 100%;
		max-width: 100%;

		border: 0.25rem solid rgba(0, 0, 0, 0.25);
		border-radius: 1rem;
	}
	.iframe-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
</style>
