<template>
	<img :src="requiredImagePath" />
</template>

<script>
	export default {
		name: "ReqImg",
		props: {
			src: {
				type: String,
				required: true
			}
		},
		data: function () {
			return {
				imagePath: this.src
			};
		},
		computed: {
			requiredImagePath() {
				return require(`~/${this.imagePath}`);
			}
		}
	};
</script>
